body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: rgb(223, 147, 147);
  background-color: rgb(250, 243, 234);

}

.navbar, .navbar-brand {
  text-align: center;
  display: block;
  width: 100%;
  background-color: rgb(232, 145, 145);
  
}
.divider {
  width: 500px;
}
.sparkle {
  width: 150px;
}
span {
  text-decoration: none;
  color: white;
  font-family: monospace;
  font-size: 23px;
}
div.navbar-brand {
  padding-top: 33px;
  margin-bottom: 33p;
  
  
}

.navbar .navbar-brand > .navbar-item,
.navbar .navbar-brand .navbar-link {
  display: inline-block;
  text-decoration: none;
}

a.nav-link {
  color: rgb(235, 143, 143);
}
/* a.nav-link.hover {
  color: rgb(184, 40, 64);
} */
a.nav-link.active {
  color: rgb(207, 104, 104);
}
main {
  
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 480px;
  margin-right: 480px;
}

.pic {
  width: 215px;
}
strong {
  color: rgb(190, 104, 104);

}
a{
  color: rgb(146, 89, 35);
}
.label {
  text-align: left;
}

footer.footer {
  background-color: rgb(248, 221, 221);
}
img {
  width: 20px;
}



@media only screen and (max-width: 1024px) {
    main {
      margin-top: 25px;
      margin-bottom: 40px;
      margin-left: 40px;
      margin-right: 40px;
    }
}

